@charset "UTF-8";
html {-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,main,hgroup,menu,nav,section,summary,time,mark,audio,video {margin:0;padding:0;border:0;background:transparent;outline:0}
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section {display:block}
ul,ol {list-style:none}
blockquote,q {quotes:none}
pre {display:inline-block}
em {font-style:normal}
blockquote:before,blockquote:after,q:before,q:after {content:'';content:none}
address {font-style:normal}
a {color:inherit;text-decoration:none;outline:none !important}
table {table-layout:fixed;border-collapse:collapse;border-spacing:0;empty-cells:show}
table,tr,th,td {border-collapse:collapse;border-spacing:0;empty-cells:show}
input,select {margin:0;padding:0;vertical-align:middle;outline:none}
input[type=text]:-ms-clear {display:none}
button {margin:0;padding:0;border:0;font:inherit;background:transparent;cursor:pointer;outline:none !important}
button::-moz-focus-inner {padding:0;border:0}
img {max-width:100%;vertical-align:top}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
input:-webkit-autofill {-webkit-text-fill-color:#000;-webkit-box-shadow: 0 0 0px 1000px rgba(0,0,0,0) inset;transition:background-color 5000s ease-in-out 0s}
input:-webkit-autofill ~ label,
input:-webkit-autofill:hover ~ label, 
input:-webkit-autofill:focus ~ label,
input:-webkit-autofill ~ label {z-index:-1 !important}
textarea {resize:vertical;vertical-align:top}
body {overflow-x:hidden;overflow-y:scroll}


a{
	font-family: 'NanumGothic', 'Noto Sans KR',sans-serif;
	font-weight: 500;
	font-size: 1em;
}
.header {
	position:relative;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    z-index: 10;
/*     border: solid blue; */
    display: block;
}
.header:hover{
	 box-shadow: 0  3px #E9E9E9;
	 transition: all 0.8s;
	 display:inline-block;
	 height: 350px;
	 position:absolute;
}

.header_top {
/*     border-bottom: 1px solid; */
    height: 34px;
}
.inner{
    position: relative;
    margin:0 auto;
    width:1140px;
}
.sitelink{
    float:left;
/*     border:solid orange; */
}
.sitelink ul{
    float:left;
    margin-left: 30px;
}

.sitelink ul li{
	text-decoration: none;
	list-style: none;
}

.sitejoin{
/*     border:solid purple; */
    float:right;
}
.sitejoin ul{
    float :left;
    margin-right: 20px;
}
.sitejoin ul li{
    text-decoration: none;
    list-style: none;
}


.header_bottom{
	position: relative;
/* 	border: solid yellow; */
    height: auto;
    display : flex;
    justify-content: center;
    align-content: center;      
}

.logo{
    font-size: 16px;
    line-height: 100px;
    font-weight: 700;
    color: #000;
    float:left;
/*     border: solid red; */
   
}

.navbar {
    float:left;
/*     border : solid skyblue; */
    height:100px;  
}
.navbar>ul{
    float:left;
/*     border : solid red; */
    margin-top: 35px;
    margin-left: 30px;
}
.navbar ul>li>a{
 
}

.navbar>ul>li{
    list-style: none;
/*     border : solid skyblue; */
    
}

.submenu{
/*     border : solid green; */
    margin-top: 40px;
	visibility: hidden;
}
.submenu>li{
	margin-bottom: 20px;
/* 	border : solid red; */
}

.navbar:hover .submenu{
	visibility:visible;
	transition: all 0.5s;
	transform:translate(0,-10px);
}

.realtime{
	float:left;
}
.searchImg{
	float:left;
}









